/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;ｚ
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

a {
    text-decoration: none;
    transition: color .3s;
}











*, :after, :before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 100vh;
    position: static;
}

.top-bar {
    width: 100%;
    max-width: 1208px;
    margin: auto;

    z-index: 2;
    position: relative;
}

.logo {
    display: inline-block;
    position: relative;
    margin-right: 40px;
}

.logo img {
    margin-top: 17px;
}


.menu {
    display: inline-block;
    vertical-align: top;
}

.menu ul {
    line-height: 89px;
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 300;
}

.menu li {
    line-height: 88px;

    display: inline-block;;
    padding: 0 12px;

    color: rgb(34, 34, 34);

    transition: all .5s;
}

.menu li:last-child {
    padding-right: 0;
}

.menu li a {
    display: inline-block;
    color: rgb(49, 70, 89);

    transition: all .2s cubic-bezier(.645,.045,.355,1);
}

.menu li:first-child {
    padding-left: 0;
}

.menu li:hover a {
    line-height: 81px;

    border-top: 3px solid #314659;

    color: #222;
    font-weight: 400;
}


.right-nav {
    display: inline-block;
    vertical-align: top;
}

.right-nav li {
    line-height: 88px;

    display: inline-block;
    padding: 0 12px;

    font-size: 14px;
    font-weight: 300;

    transition: all .5s;
}

.right-nav li:last-child {
    padding-right: 0;
}

.right-nav li a {
    display: inline-block;
    color: #314659;

    transition: all .2s cubic-bezier(.645,.045,.355,1);
}

.right-nav li:hover a {
    line-height: 81px;

    border-top: 3px solid #314659;

    color: #222;
    font-weight: 400;
}


.pull-right {
    float: right;
}



.pull-right ul li:first-child {
    position: relative;
    right: -17px;
    padding: 0 12px;
    position: relative;
    letter-spacing: -8px;
}

.pull-right ul li:first-child * {
    letter-spacing: normal;
}

.search-icon {
    font-size: 16px;
    color: #314659;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;


}



.right-nav .input-search {

    display: inline-block;

    width: 200px;
    border-radius: 2px;

    line-height: 1.5;

    position: relative;
    
    transition: width .4s,margin-left .4s,padding .4s;
}



.right-nav .input-search input {
    padding-left: 16px;
    height: 36px;

    box-shadow: none;
    background-color: transparent;

    width: 100%;

    border-radius: 4px;

    
}

.pull-right ul li:first-child:hover .input-search .input-suffix {
    display: block;
}

.input-suffix {

    display: none;

    position: absolute;

    line-height: 0;
    
    top: 50%;
    right: 12px;

    transform: translateY(-50%);
    z-index: 2;

}


.banner {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.banner-wrapper {
    position: relative;
    top: 25%;
    max-width: 1208px;
    margin: auto;
}

.backgorund-img {
    width: 1440px;
    height: 750px;
    position: absolute;
    

    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/MFUJOxcKoRrXvpIArCEC.jpg');
    background-attachment: fixed;
    /* background-size: cover; */
    background-size: 100%;

    bottom: 100px;
    right: 0;

    z-index: -2;
}


.title {
    font-size: 84px;
    color: #314659;
    font-family: title;
    letter-spacing: 4px;
    line-height: 92px;
    margin-bottom: 16px;
    position: relative;

    font-feature-settings: "tnum";
}

.subtitle {
    font-size: 46px;
    font-family: slogan;
    letter-spacing: 4px;
    line-height: 54px;
    margin-bottom: 0;
    font-weight: 300;
}


.product {
    margin-top: 85px;
    max-width: 640px;

    font-size: 0;

    z-index: 3;
}

.product a {
    display: inline-block;
    text-decoration: none;
    color: #697b8c;


    font-weight: 300;
}

.product a:not(:last-child) {
    margin-right: 24px;
}

.product .tooltip {
    position: absolute;
    
}

.product a div:first-child {

    width: 48px;
    height: 48px;
    padding: 8px;
    margin: auto;
}

.product a span {
    display: block;

    text-align: center;

    text-size-adjust: 100%;

    font-size: 12px;
    margin-top: 8px;
    color: #697b8c;

    line-height: 18px;
}


.slide {
    background-color: rgba(47, 84, 235, 0.9);
    width: 100%;
    position: absolute!important;
    bottom: 0;
    left: 0;

    margin: auto;
}

.slide>div {
    font-size: 0px;
}

.slide-wrapper {
    max-width: 1208px;
    min-height: 98px;
    margin: 0 auto;
}

.slide-wrapper div {
/* .slide-block { */

    display: inline-block;
    color: white;

    box-sizing: border-box;

    border-left: 1px solid hsla(0, 0%, 100%, .2); 
    margin: 16px auto;
    padding: 0 24px;
    font-size: 14px;

    height: 65px;


    width: 25%;
}

.slide-wrapper div:last-child {
/* .slide-block:last-child { */
    border-right: 1px solid hsla(0, 0%, 100%, .2);
}

.slide-.slide-wrapper div h3 {
/* .slide-block h3 { */
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    font-weight: 400;
}

.slide-.slide-wrapper div i {
/* .slide-block i { */
    display: block;
    width: 36px;
    height: 2px;
    background: hsla(0, 0%, 100%, .2);
    margin: 8px 0;
}

.slide-wrapper div a {
/* .slide-block a { */
    text-decoration: none;
    color: hsla(0,0%,100%,.85);
}

.slide-wrapper div ul li:first-child {
/* .slide-block ul li:first-child { */
    padding-left: 0;
}

.slide-wrapper div ul li {
/* .slide-block ul li { */
    display: inline-block;
    padding: 0 6px;
    position: relative;
    font-weight: lighter;
}

.slide-wrapper div ul {
/* .slide-block ul { */
    display: block;
    margin-block-start: 1em;
}


.slide-wrapper div ul li:before {
/* .slide-block ul li:before { */
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    right: 0;
    top: 50%;
    margin-top: -7px;
    background: hsla(0,0%,100%,.25);
}

.slide-wrapper div ul li:last-child:before {
/* .slide-block ul li:last-child:before { */
    display: none;
}





.mod-rec-l1 {
    width: 100%;
    padding: 96px 0 104px;

    margin: auto;
}

.custom-story {
    width: 100%;
    position: relative;

    max-width: 1200px;
    padding: 0 60px;
    margin: auto;
}

.custom-story-title-wrapper {
    position: relative;

    margin: auto;
    
    text-align: center;
    width: 566px;
}

.custom-story-title-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ced4d9;
}

.custom-story-title {

    display: inline-block;
    padding: 0 56px;
    position: relative;

    background: #fff;
    z-index: 1;
}

.custom-story-title-wrapper h1 {
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.custom-story-title-wrapper p {
    font-size: 12px;
    font-family: dinot;
    line-height: 20px;
    color: #314659;
}


.custom-story-content {
    display: inline-block;
    width: 1080px;

    position: relative;
}

.custom-story-content .custom-story-text {
    background: url(https://gw.alipayobjects.com/zos/rmsportal/oydcyqzWjHOvnGXTWuHh.png) no-repeat;
    background-size: 97px 85px;
    padding-top: 58px;
    position: relative;
    height: 142px;
    max-width: 700px;
    margin-bottom: 32px;
}

.custom-story-content .custom-story-text p {
    font-size: 14px;
    line-height: 32px;

    color: #314659;
}

.custom-story-content .custom-story-logo {
    height: 50px;
    margin: 0 auto 32px;
    position: absolute;
    right: 0;
    top: 58px;
}

.mod-rec-l2 {
    width: 100%;
    padding: 96px 0 104px;

    position: relative;

    background: #2f54eb url(https://gw.alipayobjects.com/zos/rmsportal/DUxayNamrBUmrtbhnnAS.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 800px;
    color: #fff;
    overflow: hidden;
}

.community-selection {
    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.community-selection-title {
    text-align: center;
}

.community-selection-title-wrapper {
    width: 500px;
    position: relative;
    margin: auto;
}

.community-selection-title-block {
    width: 100%;

    position: relative;
}

.community-selection-title-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ced4d9;
}

.community-selection-title-content {
    width: 300px;
    margin: auto;

    padding: 0 50px;

    background-color: #2f54eb;
    position: relative;
    z-index: 2;
}

.community-selection-title-wrapper h1 {
    color: #fff;

    letter-spacing: 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.community-selection-title-wrapper p {
    color: #fff;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;

    font-weight: 200;
    font-family: dinot;
}


.community-selection {
    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.community-selection-content {
    margin-left: -66px;
    margin-right: -66px;

    padding: 44px 0 52px;

    box-sizing: border-box;
    font-size: 0;
}

.community-selection-content-block::before {
    display: table;
    content: "";
}

.community-selection-content-block::after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.community-selection-content-block {
    position: relative;
    font-size: 14px;
    margin-top: 44px;
    min-height: 437px;

    box-sizing: border-box;
    width: 33.33333333%;

    display: inline-block;

    vertical-align: bottom;
}

.community-selection-content-block-time {
    font-family: din;
    font-size: 160px;
    opacity: .08;
    position: absolute;
    top: 0;
}

.community-selection-content-block h1 {
    padding: 50px 0 0;
    font-size: 38px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 36px;
    color: #fff;
}

.community-selection-content-block p {
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 56px;
}

.community-selection-content-block a {
    background: transparent;
    text-decoration: none;
    outline: none;

    color: #fff;
    font-weight: 300;
    position: absolute;
    bottom: 0;
}

.ant-procucts-bg {
    background: linear-gradient(180deg,#fefefe 0,#f4f6f7);
}

.mod-rec-l3 {
    width: 100%;
    position: relative;
    padding: 96px 0 0;

    background: url(https://gw.alipayobjects.com/zos/rmsportal/WzYFGdglfFhzAgTIpied.png) no-repeat;

    background-size: cover;
    background-position: top;
    min-height: 1000px;
    padding-bottom: 0!important;
}
.ant-procucts {

    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.ant-procucts-title {
    text-align: center;
}

.ant-procucts-title-wrapper {
    width: 566px;
    position: relative;
    margin: auto;
}

.ant-procucts-title-block {
    width: 100%;

    position: relative;
}

.ant-procucts-title-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ced4d9;
}

.ant-procucts-title-content {
    display: inline-block;

    padding: 0 56px;

    background-color: #fefefe;
    position: relative;
    z-index: 1;
}

.ant-procucts-title-wrapper h1 {
    color:#0d1a26;

    letter-spacing: 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.ant-procucts-title-wrapper p {
    color: #0d1a26;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;

    font-weight: 200;
    font-family: dinot;
}

.ant-procucts-content-wrapper {
    
    background: linear-gradient(180deg,#fefefe 0,#f4f6f7);

    padding-top: 58px;
    padding-bottom: 96px;

    

    display: flex;

    display: block;
    font-size: 0;
}



.ant-procucts-content-block-content-wrapper {
    display: inline-block;

    margin: auto;

    background: #fff;

    border-radius: 2px;
    color: #314659;
    position: relative;

    height: 360px;
    padding: 24px 56px;
    text-align: center;

    transition: background 0.3s cubic-bezier(0.9, 0, 0.3, 0.7) 0s, box-shadow 0.3s 0s, height 0.3s 0s, transform 0.3s 0s, color 0.3s 0s
}

.ant-procucts-content-block-content-wrapper:hover {
    box-shadow: rgba(105, 123, 140, 0.4) 0px 8px 32px;
    height: 392px;
    transform: translateY(-32px);
    color: rgb(255, 255, 255);
    transition-timing-function: cubic-bezier(0.7, 0.3, 0.1, 1);
    background: rgb(47, 84, 235);
}

.ant-procucts-content-block-content-wrapper img.img2 {
    display: none;
}

.ant-procucts-content-block-content-wrapper:hover img.img1 {
    display: none;
}

.ant-procucts-content-block-content-wrapper:hover img.img2 {
    display: block;
}

.ant-procucts-content-block-content {
    display: inline-block;

    margin-top: 48px;
    height: 360px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
    width: 33.33333333%;
    /* width: 30%; */

    font-size: 0;

    vertical-align: top;
}

.ant-procucts-content-block-content h2 {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 22px auto 46px;
    width: 100%;
    font-weight: 500;
}

.ant-procucts-content-block-content 
.ant-procucts-content-block-content-img {
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
}


.ant-procucts-content-block-content p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.ant-procucts-content-block-content a {
    display: none;
    line-height: 20px;
    width: 80px;
    height: 24px;
    border-radius: 2px;
    padding: 2px 12px;
    border: 1px solid #fff;
    color: #fff;

    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 25px;

    font-size: 12px;
}

.ant-procucts-content-block-content-wrapper:hover a {
    display: block;
}

.mod-rec-l4 {
    background: url(https://gw.alipayobjects.com/zos/rmsportal/WODLRRMvLJhIgkrddBWw.png) no-repeat;
    background-size: 84px auto;
    background-position: 0 0;
    min-height: 400px;
    padding: 32px 0 64px!important;
    overflow: hidden;

    background-color: #f4f6f7;
}

.partner {
    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.partner-title {
    position: relative;

    margin: auto;
    
    text-align: center;
    width: 566px;
}

.partner-title:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ced4d9;
}

.partner-title-wrapper {
    display: inline-block;
    padding: 0 56px;
    position: relative;

    background: #f4f6f7;
    z-index: 1;
}

.partner-title-wrapper h1 {
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.partner-title-wrapper p {
    font-size: 12px;
    font-family: dinot;
    line-height: 20px;
    color: #314659;
}


.partner-content {
    padding-top: 22px;
    width: calc(120% - 160px);

    position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    box-sizing: border-box;
    
    
    font-size: 0;
}

.partner-content-block {
    margin-top: 42px;

    display: inline-block;

    width: 20%;
}

.partner-content-block img {
    display: block;

    /* display: inline-block; */
}

.mod-rec-l5 {
    width: 100%;
    position: relative;

    background: url(https://gw.alipayobjects.com/zos/rmsportal/QxpKQdAPazKVrMjHcARI.png) no-repeat;
    background-size: 100px auto;
    background-position: 100% 0;
    min-height: 300px;
    padding: 32px 0 64px!important;
    overflow: hidden;

    margin: auto;

    background-color: #f4f6f7;
}

.safety {
    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.safety-title {
    position: relative;

    margin: auto;
    
    text-align: center;
    width: 566px;
}

.safety-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: #ced4d9;
}

.safety-title-wrapper {
    text-align: center;

    display: inline-block;
    padding: 0 56px;
    position: relative;

    background-color: #f4f6f7;
    z-index: 1;
}

.safety-title-wrapper h1 {
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.safety-title-wrapper p {
    font-size: 12px;
    font-family: dinot;
    line-height: 20px;
    color: #314659;
}

.safety-content {
    width: 100%;
    max-width: 1208px;
    margin: auto;
    position: relative;
}

.safety-content-wrapper {
    padding-top: 32px;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;

    font-size: 0;
}

.safety-content-block:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 1px;
    top: 68px;
    background: #ced4d9;
}

.safety-content-block {
    display: inline-block;

    margin-top: 32px;
    text-align: center;
    color: #314659;

    width: 33.33333333%;
}

.safety-content-block:first-child {
    text-align: left;
}

.safety-content-block-logo {
    display: inline-block;
    margin-right: 24px;
    vertical-align: middle;
}

.safety-content-block p {
    font-size: 14px;
    line-height: 40px;
    display: inline-block;

    vertical-align: middle;
}


.footer {
    width: 100%;
    background: #0d1726;
}

.subnav {
    position: relative;
    padding: 40px 70px 64px;
    max-width: 1320px;
    margin: 0 auto;
}

.subnav-wrapper {
    display: flex;
}

.subnav-wrapper div {
/* .subnav-block { */
    position: relative;
}

.subnav-wrapper div h5 {
/* .subnav-block h5 { */
    color: hsla(0,0%,100%,.97);
    font-size: 14px;
    margin-bottom: 28px;

    width: 153px;
}

.subnav-block-content {
    margin-bottom: 16px;
}

.subnav-block-content p {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 300;
}

.subnav-block-content p a {
    color: hsla(0,0%,100%,.97);
    background: transparent;
    text-decoration: none;
    outline: none;
}

.subnav-block-hr {
    width: 1px;
    height: 209px;
    background: rgba(235,237,240,.1);
    position: absolute;
    left: 0;
    top: 0;
}

.subnav-block-right {
    padding-left: 48px;
    display: flex;
    position: relative;
}



.contact-info {
    color: #fff;

    padding-left: 48px;
}

.contact-info-tel {
    display: flex;
    margin-right: 40px;
}

.contact-info-tel-icon {
    width: 36px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background: hsla(0,0%,59.2%,.2);
    margin-right: 24px;
}

.contact-info-tel-icon-font {
    font-size: 20px;
    font-family: "iconfont";
}

.contact-info-tel h5 {
    margin-bottom: 8px;
    color: hsla(0,0%,100%,.97);
    font-size: 14px;
}

.contact-info-tel p {
    width: 100px;
    line-height: 22px;

    color: hsla(0,0%,100%,.97);
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 300;
}


.miniapp {
    display: flex;

}

.miniapp-icon {
    width: 36px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background: hsla(0,0%,59.2%,.2);
    margin-right: 24px;
}

.miniapp-icon i {
    font-size: 20px;
}

.miniapp h5 {
    margin-bottom: 8px;
    color: hsla(0,0%,100%,.97);
    font-size: 14px;
}

.miniapp p {
    width: 104px;
    height: 104px;
    padding: 6px;
    border: 1px solid #fff;
}

.miniapp img
{
    width: 100%;
    height: 100%;
}

.footer-divider {
    display: block;
    height: 1px;
    width: 100%;
    margin: 0 0 24px;
    clear: both;
    vertical-align: middle;
    position: relative;
    top: -.06em;
    background: hsla(0,0%,100%,.1);

    /* background-color: hotpink; */
}

.ant-platform {
    text-align: right;
    padding: 0 56px;
    max-width: 1320px;
    margin: 0 auto;
}

.ant-platform ul {
    margin-bottom: 16px;
    text-align: center;
}

.ant-platform ul li {
    margin-bottom: 16px;
    padding: 0 10px;

    display: inline-block;

    position: relative;
}

.ant-platform a {
    color: hsla(0,0%,100%,.65);
    cursor: pointer;
    text-decoration: none;
}

/* .ant-platform ul li:not(:last-child)::after { */
.ant-platform ul li:not(:last-child)::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    right: -3px;
    top: 50%;
    margin-top: -7px;
    
    background: hsla(0,0%,100%,.25);
    /* background-color: violet; */
}

.copyright {
    font-size: 14px;
    padding: 0 56px 24px;
    max-width: 1320px;
    margin: 0 auto;
}

.copyright-wrapper {
    padding: 0 14px;
    color: hsla(0,0%,100%,.5);
    font-weight: 300;
    display: block;
    zoom: 1;
}

.copyright-wrapper {
    margin-right: 16px;
    color: hsla(0,0%,100%,.5);
}

.copyright-wrapper img {
    margin-right: 8px;
    vertical-align: middle;
}

.copyright-wrapper a {
    margin-right: 16px;
    color: hsla(0,0%,100%,.5);

    cursor: pointer;
    text-decoration: none;
}











.product a {
    position: relative;
}

.product a div.tooltip {
    display: none;
    position: absolute;

    min-width: 100px;
    min-height: 33px;

    text-align: center;

    padding: 6px 8px;
    top: -50px;
    left: -20px;

    border-radius: 4px;
    line-height: 1.5;

    font-size: 14px;
    color: #fff;
    background-color: rgba(0,0,0,.75);
}

.product a .tooltip::after {
    position: absolute;
    display: block;

    content: '';
    border-color: rgba(0,0,0,.75) transparent transparent transparent;
    border-width: 5px;
    border-style: solid;
    
    bottom: -10px;
    left: 40px;
}

.product a:hover div.tooltip {
    display: block;
}





